@(projectName: String, fileName:String)
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container pull-left" style="width: 100%; margin-left: 5px; padding: 0;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Branding Image -->
                <a class="navbar-brand" href="/">
                    { lie-docs }
                </a>
            </div>
            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="#">About</a></li>
                </ul>

                <ul style="position: relative; margin-left: 30%;" class="nav navbar-nav" id="activeFile"><li><a style="cursor:default;color:white;" href="#">@projectName/@fileName</a></li></ul>

            </div>

        </div>
    </nav>


