@(projectName: String, fileName:String)

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container pull-left" style="width: 100%; margin-left: 5px; padding: 0;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Branding Image -->
                <a class="navbar-brand" href="/">
                    { lie-docs }
                </a>
            </div>
            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <div class="row">
                    <div class="col-sm-3 col-md-2">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </div>
                    <div style="color:white;" class="col-sm-13 col-md-8 text-center">
                        <h4 style="padding:15px; margin:0px;">@projectName/@fileName</h4>
                    </div>
                </div>
            </div>

        </div>
    </nav>


