<div class="modal fade" id="emptyModal" tabindex="-1" role="dialog" aria-labelledby="newFileModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div><i id="spinner" class="fa fa-spinner fa-pulse fa-2x fa-fw"></i><h4 style="display: inline-block;";class="modal-title" id="modalTitle"></h4></div>
            </div>
            <div class="modal-body">

                <div id="fileID" fileid="" style="display:none;"></div>
                <div id="refDescr"></div>
                <div id="refStat" style="margin-top: 20px;" class="table table-bordered">
                    <div class="row"><div class="col-md-push-3 col-md-4 text-center">Active Editors</div><div id="activeEditors" class="col-md-push-2 col-md-2 text-center">0</div></div>
                    <div class="row" ><div style="border-bottom:1px solid #f2f2f2" class="col-md-push-3 col-md-4 text-center">Quorum</div><div style="border-bottom:1px solid #f2f2f2" id="quorum" class="col-md-push-2 col-md-2 text-center">0</div></div>
                    <div class="row"><div class="col-md-push-3 col-md-4 text-center">Accept</div><div style="color:green;" id="acceptReferendum" class="col-md-push-2 col-md-2 text-center">0</div></div>
                    <div class="row"><div class="col-md-push-3 col-md-4 text-center">Decline</div><div style="color:red;" id="discardReferendum" class="col-md-push-2 col-md-2 text-center">0</div></div>
                </div>
                <div id="refResult"></div>
            </div>
            <div class="modal-footer">
                <button id="fail" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="success" name="newFileButton" type="button" class="btn btn-primary"></button>
            </div>
        </div>
    </div>
</div>