@(title: String, projectID:String, projectName:String, fileName:String, filesList:ArrayList[HashMap[String, Object]])

@header.common(title, "")
@header.editor()
    <input id="projectID" type="hidden" value="@projectID">
    <div id="project" _projectName="@projectName" style="display:none;" ></div>
    <div id="file" _fileName="@fileName" style="display:none;"></div>

    <!-- TODO il modal per l'aggiunta del file non acquisisce il focus alla textbox correttamente -->
@modals.new_file()
@navbar.editor(projectName)
    <body>
        <div class="container-fluid"><!-- Project view -->
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <div class="row">
                        <h4>Project's Files</h4>
                        <button data-toggle="modal" data-target="#newFileModal" class="btn btn-info">
                            <i class="fa fa-plus"></i> Add File
                        </button>
                    </div>
                    <br>
                    <ul id="filesList" class="list">
                        @for(f <- filesList) {
                            <div id="container-@f("id")">
                                <li>
                                    <strong>
                                        <a href="/project/@projectID/@f("id")">
                                        @f("name")
                                        </a>
                                    </strong>
                                </li>
                                <i id="@f("id")" onclick="fileDeleteEventListener();" class="remove_file fa fa-trash"></i>
                            </div>
                        }
                    </ul>
                </div>
                <div class="main container col-sm-9 col-sm-offset-2"><!-- Document view -->
                    <div class="container" id="editorColor">&nbsp;</div>
                    <div class="container">
                        <pre style="background-color:rgba(255,255,255,0); border:0;">
                            <table id="page">
                                <tr _idx="0"><td contenteditable="true"></td></tr>
                            </table>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </body>
@footer()
