<div class="modal fade" id="emptyModal" tabindex="-1" role="dialog" aria-labelledby="newFileModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">New File</h4>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-3 control-label">File Name</label>
                    <div class="col-sm-4">
                        <input id="fileName" name="fileName" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="newFileButton" name="newFileButton" type="button" class="btn btn-primary" onclick="newFile();">
                    Add File
                </button>
            </div>
        </div>
    </div>
</div>