@(title: String,customHead:String,projectName:String,fileName:String)

@header.common(title,customHead)

<script src="@routes.Assets.versioned("javascripts/dGogle.js")" type="text/javascript"></script>

<div id="project" _projectName="@projectName" style="display:none;" ></div>
<div id="file" _fileName="@fileName" style="display:none;"></div>

@navbar.editor(projectName)

<button onclick="compila();">COMPILA</button>
<div class="container" id="editorColor">&nbsp;</div>
<div class="container">
            <pre style="background-color:rgba(255,255,255,0); border:0;">
              <table id="page">
                <tr _idx="0"><td contenteditable="true"></td></tr>
              </table>
            </pre>
</div>



</body>

@footer()
